.input-wrap {
max-width: 300px;
width: 100%;
height: 45px;
border-radius: 10px;
font-size: 14px;
font-weight: 400;
color: #ffffff;
outline: none;
padding: 10px;
background: #224957;
border: 1px solid #224957;;
}

.active{
    border: 1px solid #224957;
    color: #224957;
    background: #ffffff;
}

.error{
    border: 1px solid #EB5757;
    color: #EB5757;
    background: #ffffff;
}

.error-msg{
    color:#EB5757;
    font-size: 12px;
    font-weight: 400;
}